<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioChatApp</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
      integrity="sha512-Xm9qbB6Pu06k3PUwPj785dyTl6oHxgsv9nHp7ej7nCpAqGZT3OZpsELuCYX05DdonFpTlBpXMOxjavIAIUwr0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script defer src="/javascripts/chat.js"></script>

    <style>
      body {
        margin: 0;
        padding-bottom: 3rem;
        background-color: #010409;
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <nav style="background-color: #0d1117" class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a style="color: #9198a1" class="navbar-brand" href="/">ioChatApp</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a style="color: #9198a1" class="nav-link" href="/signup"
                >Sign Up</a
              >
            </li>
            <li class="nav-item">
              <a
                style="color: #9198a1"
                class="logout-button nav-link"
                href="/logout"
                >Logout</a
              >
            </li>
            <li class="nav-item">
              <!-- Button to trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                How to Use
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              How to use ioChatApp
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ol>
              <li>Sign up and login</li>
              <li>Add a friend registered on ioChatApp</li>
              <li>
                For first timers, a friend request will be sent to the email of
                the username
              </li>
              <li>
                This email contains your username and unique secret code between
                you and Friend
              </li>
              <li>
                The friend will accept the request by copying the code and your
                username and adding you
              </li>
              <li>Click "Chat" to start a conversation</li>
              <li>You can now send messages back and forth</li>
            </ol>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="notification-container"></div>    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
                <div class="position-sticky pt-3">
                    <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Friends</span>
                    </h4>
                    <div id="friend-list" class="nav flex-column">
                        <!-- Friends will be dynamically loaded here -->
                    </div>
                </div>
            </nav>

            <!-- Main chat area -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="chat-container">
                    <header class="chat-header">
                        <h1><i class="fas fa-comments"></i>ioChatApp</h1>
                        <a href="/logout" class="btn">Logout</a>
                    </header>
                    <div class="chat-main">
                        <div class="chat-sidebar">
                            <h3><i class="fas fa-users"></i> Users</h3>
                            <ul id="users"></ul>
                        </div>
                        <div class="chat-messages">
                            <div class="chat-display"></div>
                            <div class="chat-form-container">
                                <form id="chat-form" class="form-msg">
                                    <input id="message" type="text" placeholder="Enter Message" required autocomplete="off" />
                                    <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap JS (Required for Modal) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
