<!-- /views/rooms.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
        integrity="sha512-Xm9qbB6Pu06k3PUwPj785dyTl6oHxgsv9nHp7ej7nCpAqGZT3OZpsELuCYX05DdonFpTlBpXMOxjavIAIUwr0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap"
        rel="stylesheet">
    <script defer src="/javascripts/chat.js"></script>

    <style>
          body {
            margin: 0;
            padding-bottom: 3rem;
            font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, serif;
        }
    </style>
</head>

<body>
    <main>
        <!-- Form to join the chat -->
        <form class="form-join">
            <input type="text" id="name" maxlength="8" placeholder="Your friends name" size="8" required readonly
                value="<%= friendUsername %>">
            <input type="text" id="room" placeholder="Chat room" size="8" required value="<%= uniqueCode %>">
            <button id="join" type="submit">Join</button>
        </form>

        <!-- Display chat messages -->
        <ul class="chat-display"></ul>

        <!-- Additional chat information -->
        <p class="user-list">Active users: <span id="user-count">0</span></p>
        <p class="room-list">Room: <%= uniqueCode %>
        </p>
        <p class="activity">No recent activity</p>

        <!-- Form to send messages -->
        <form class="form-msg">
            <input type="text" id="message" placeholder="Your message" required>
            <button type="submit">Send</button>
        </form>
    </main>
</body>

</html>